#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inline-flex{
    display: inline-flex;
    margin: 3px;
}

.bmalo{
  background-color: #641E16;
  margin: 3px;
}